/* Блок со статьями */

.content-articles{
  background-color: #fff;
  margin: 10px 0;
  border-radius: 23px;
}

.articles-container{
  padding: 90px 20px;
}

.articles-container-title{
  margin: 0 0 20px 25px;
}

.articles-container-title h2{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-color: transparent;
  border-style: solid;
} 

.articles-container-title p{
  padding: 15px 0;
  white-space: normal;
  font-size: 22px;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  background-size: cover;
}

.articles-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-content{
  position: relative;
  max-width: 47%;
  margin: 15px;
  border-radius: 32px;
  border-width: 1px;
  background-color: #f1f4f8;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: all ease .5s;
}

.article-content:hover{
  scale: 0.98;
  
}

.article-content-title{
  margin: 20px 20px 40% 20px;
}

.article-content-title h3{
  font-size: 12px;
  line-height: 1.55;
  font-weight: 400;
  color: #9699a2;
  border-color: transparent;
  border-style: solid;
  padding: 0 0 15px 0;
}

.article-content-title p{
  font-size: 20px;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.article-button{
  padding: 15px 80px;
  position:absolute;
  bottom: 15%;
  left: 2%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.article-content:hover .article-button {
  opacity: 1;
}

.articles-container-btn{
  background-color: #2400e9;
  color: #fff;
  margin: 20px;

}