/* Обнуление стилей*/
@import url("base-style.css");

/* Стили для компонентов*/
@import url("header.css");
@import url("content.css");
@import url("content-about.css");
@import url("content-projects.css");
@import url("content-form.css");
@import url("content-benefit.css");
@import url("content-offer.css");
@import url("content-articles.css");
@import url("footer.css");


:root{
  --color-white: #fff;
	--primary-color: #007bff;
  --secondary-color: #024388;
	--color-gray: #f9f9f9;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/*Стили для заголовков*/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.no-animation {
  animation: none !important;
}

/* Стили для видео */
.video-background{
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;

}
#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}



/* Пример стиля для Flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


/* Медиа - запросы */

/*  (большие экраны) */
@media (max-width: 1200px) {
  .service-block:first-child{
    width: 38%;
  }
  .service-block{
    width: 26%;
  }
  .service-block-title{
    font-size: 20px; 
  }

  .about-dekor-text{
    font-size: 14px;
  }
  
  .block-blue{
    display: none;
  }

  

  .block-white {
    position: absolute;
    text-align: left;
    background-color: #292929;
    z-index: 1;
    margin: 50px auto;
  }
  .block-white h3,
  .block-white p{
    color: #ffffff;

  }
}

/* Стили для экранов шириной до 992px (планшеты) */
@media (max-width: 992px) {
  .header {
    font-size: 20px;
    text-align: center;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Стили для экранов шириной до 768px (маленькие планшеты и большие телефоны) */
@media (max-width: 768px) {
  .sidebar {
    display: none; /* Скрываем боковую панель */
  }

  .main-content {
    font-size: 18px;
    padding: 10px;
  }
}

/* Стили для экранов шириной до 576px (мобильные телефоны) */
@media (max-width: 576px) {
  .header {
    font-size: 16px;
    padding: 10px;
    background-color: #f4f4f4; /* Добавляем фон для мобильной версии */
  }

  .navigation {
    display: none; /* Прячем навигацию, если она не нужна */
  }

  .burger-menu {
    display: block; /* Показываем бургер-меню */
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    margin-top: -10px;
    color:#333
}
}


